body{
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../image/city.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.headerDiv{
	width: 100%;
}

.searchBar, .searchButton{
	color:white;
	margin-top:5px;
}

.middleDiv{
	display:none;
	position:relative;
}

.contentDiv{
	width: 100%;
	text-align:center;
	position: absolute;
	margin: 0 auto;
	margin-top:50px;
	animation-duration:1s;
	animation-name:fadeUp;
}

.headerContent{
	width: 50%;
	margin: 10% auto;
}

.headerContent .titleText, .headerContent .subTitleText{
	color:white;
}

.headerContent .titleText{
	padding: 5px;
	font-size: 50px;
}

.headerContent .subTitleText{
	padding: 20px;	
}

.activateButton{
	text-align: center;
	width: 200px;
	height: auto;
	margin-bottom: 160px;
}

.nextScrollDiv{
	/*display: none;*/
	width: 200px;
	left: 80%;
	font-size: 20px;
	transform: translate(0%, -50%);
	margin: 0 auto;
	opacity: 0;
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: all 0.5s ease-in-out;
}

.nextScrollDiv:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.nextScrollButton{
	cursor: pointer;
	color: white;
	font-size: 20px;
}

.middleContent{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 50px;
}

.firstContent{
	background-color: rgba(20, 20, 20, 0.5);
	margin: 0 auto;
	height: 600px;
	padding: 150px;
	color: white;
}

.firstContent .titleText{
	font-size: 25px;
	padding: 20px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

.firstContent .subTitleText{
	font-size: 20px;
	padding: 10px;
	color: white;
}

.firstContent .activateButton{
	margin-top: 20px;
}

.secondContent{
	background-color: rgba(232, 232, 232, 0.8);
	margin: 10% auto;
	height: auto;
}

.secondContent .titleText{
	font-size: 30px;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
	border-bottom: 3px solid black;
}

.secondContent .slideDiv{
	width: 100%;
	padding: 50px;
	margin: 0 auto;
	display: inline-block;
}

.secondContent .prev, .secondContent .next{
	background-color: none;
	cursor: pointer;
	padding: 30px;
	margin-top: 14%;
	transition: all 0.3s ease-in-out;
}

.secondContent .prev:hover, .secondContent .next:hover{
	background-color: #c7c7c7;
	border-radius: 5px;
}

.prev, .next, .secondContent .subContent{
	display:inline-block;
	float: left;
}

.secondContent .subContent{
	padding: 30px;
	width: 85%;
}

.subContent .card{
	float: left;
	width: 15rem;
	margin-left: 70px;
	margin-right: 70px;
}

.img{
	height: auto;
}

.footerContent{
	color: white;
}

.endDiv{
	width: 100%;
	height: 300px;
	background-color: #414a57;
}

.endIcons{
	margin-top: 50px;
	border: 3px solid white;
}

.endIcon{
	cursor: pointer;
	color: #d1d1d1;
	margin-left: 30px;
	transition: all 0.5s ease-in-out;
}

.endIcon:hover{
	color: white;
}

@keyframes fadeUp{
	from {
		margin-top:150px;
		opacity: 0;
  }

  to {
    margin-top: 50px;
    opacity: 1;
  }
}